.vibe-selection-grid > div {
  align-items: center;
  border: none;
}

.vibe-selection-grid > div > p {
  font-size: 0.8rem !important;
}

.vibe-selection-container > h3{
    line-height: 2.5rem;
    font-weight: 600;
}

.vibes-buttons >img{
    width: 70px !important;
}

